# Copy to .env on the Docker host; never commit .env.
IAC_REPO_PATH=/opt/stacks/proxmox-win11-dev-iac
SSH_KEY_PATH=/home/youruser/.ssh/id_rsa

PROXMOX_URL=https://pve01.example.internal:8006/api2/json
PROXMOX_USERNAME=terraform@pve
PROXMOX_TOKEN=terraform@pve!iac=REPLACE_ME

TF_VAR_proxmox_endpoint=https://pve01.example.internal:8006/
TF_VAR_proxmox_api_token=terraform@pve!iac=REPLACE_ME
TF_VAR_proxmox_node=pve01
TF_VAR_datastore=local-lvm
TF_VAR_win11_template_id=9025
TF_VAR_vm_id=1101
TF_VAR_vm_name=win11-dev-01
TF_VAR_bridge=vmbr0
